/* Website Template by freewebsitetemplates.com */
@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
	/* background-image: url('../images/background.jpg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	 background: #fff; */
	font-family: "Segoe UI Light", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
	/* background-image: url('../images/background.jpg'); */
}

#header {
	background-image: url('../images/lmmbheader_web.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 240px;

	/* background-image: url('../images/background.jpg'); */
}

p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;

}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #898989;
}

.logo img{
	text-align: left;
	height: 240px; 
}

#navigation ul {
	margin: 0;
	padding: 20px 0 0;
}
#navigation ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}

#navigation ul li a{

	color: #252525;
	display: inline-block;
	font-family: "segoe ui light", "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;

}

#navigation_start ul {
	margin: 0;
	padding: 20px 0 0;
}
#navigation_start ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}

#navigation_start ul li a{

	color: #252525;
	display: inline-block;
	font-family: "segoe ui light", "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;

}

#navigation_start ul li a{

	color: #252525;
	display: inline-block;
	font-family: "segoe ui light", "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;

}

#navigation ul li.selected a {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 16px;
}


#body {
	margin: 0;
	
	text-align: justify; /* changed from center */
	background-color: #fff;
	opacity: 0.9;
	
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: "segoe ui light","Arial Black"; /* was poller_oneregular */
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding-top: 50px;
	text-transform: uppercase;
}
#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
	width: 350px;
	text-align: center;
}
#body > div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#body > div img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
}
#body > div .article {
	margin: 0 15% 0 15%;
	word-wrap: break-word;
	width: 560px;
	height: 100%;
	padding-bottom: 80px;
}

#body > div .article table tr td {
	padding-bottom: 5px;

}

#body > div .article h2 {
	font-family: "segoe ui light","Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: 900;
	font-weight: normal;
}
#body > div .article h3 {
	color: #252525;
	/* line-height: 24px; */
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-family: "segoe ui light","Arial Black", Gadget, sans-serif;
}
#body > div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "segoe ui light","Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}	
#body > div .article p {
	word-wrap: break-word;

}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body div ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#body div ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
	opacity: 1;
}
#body div ul li div {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body div ul li div h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div ul li div p {
	padding: 30px 30px 18px;
}
#body div ul li div a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body div ul li div a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
}
#body #featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
}

#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}
#body > ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#body > ul li a {
	color: #000;
	display: block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body > ul li a img {
	border: 2px solid #1a1a1a;
	display: block;
	margin: 0;
	padding: 0;
	opacity: .8;
	transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
	opacity: 1;
}
#body > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}

#footer p {
	background: #252525;
	margin: 0;
	padding: 18px 0 21px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
